# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=1234
POSTGRES_DB=appdb

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin123

# Frontend (URL del API expuesta al navegador)
VITE_API_URL=http://localhost:5000
